<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<form role="form" id="formId">
    <div class="form-group">
        <label for="">车名</label>
        <input type="text" class="form-control"  name="carname"/>
    </div>
    <div class="form-group">
        <label for="">车主性别</label>
        <input type="radio" name="carsex" value="1"/>男<input type="radio" name="carsex" value="2"/>女
    </div>
    <div class="form-group">
        <label for="">生产日期</label>
        <input type="date" class="form-control" id="" name="cartime"/>
    </div>
    <!--<input type="button" value="保存" onclick="updatedd()"/>
    <input type="reset" value="清空"/>-->
</form>
</body>
</html>